---
http_interactions:
- request:
    method: post
    uri: https://api.eu.assemblyai.com/v2/transcript
    body:
      encoding: UTF-8
      string: '{"audio_url":"https://example.com/audio.mp3","punctuate":true,"format_text":true,"language_detection":true,"speaker_labels":true}'
    headers:
      Authorization:
      - <ASSEMBLYAI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id": "6db87a5b-db5e-4f59-a05c-503b64cdb7a9", "language_model": "assemblyai_default",
        "acoustic_model": "assemblyai_default", "language_code": null, "status": "queued",
        "audio_url": "https://example.com/audio.mp3", "text": null, "words": null,
        "utterances": null, "confidence": null, "audio_duration": null, "punctuate":
        true, "format_text": true, "dual_channel": false, "webhook_url": null, "webhook_status_code":
        null, "webhook_auth": false, "webhook_auth_header_name": null, "speed_boost":
        false, "auto_highlights_result": null, "auto_highlights": false, "audio_start_from":
        null, "audio_end_at": null, "word_boost": [], "boost_param": null, "prompt":
        null, "keyterms_prompt": null, "filter_profanity": false, "redact_pii": false,
        "redact_pii_audio": false, "redact_pii_audio_quality": null, "redact_pii_audio_options":
        null, "redact_pii_policies": null, "redact_pii_sub": null, "speaker_labels":
        true, "speaker_options": null, "content_safety": false, "iab_categories":
        false, "content_safety_labels": {}, "iab_categories_result": {}, "language_detection":
        true, "language_confidence_threshold": null, "language_confidence": null,
        "custom_spelling": null, "throttled": false, "auto_chapters": false, "summarization":
        false, "summary_type": null, "summary_model": null, "custom_topics": false,
        "topics": [], "speech_threshold": null, "speech_model": null, "chapters":
        null, "disfluencies": false, "entity_detection": false, "sentiment_analysis":
        false, "sentiment_analysis_results": null, "entities": null, "speakers_expected":
        null, "summary": null, "custom_topics_results": null, "is_deleted": null,
        "multichannel": null, "project_id": 667342, "token_id": 673447}'
  recorded_at: Thu, 31 Jul 2025 13:07:31 GMT
recorded_with: VCR 6.2.0
