{
  
      presets: [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/typescript"
      ],
      plugins: [
        "transform-es2015-modules-commonjs",
        "babel-plugin-styled-components",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ],
    }

