# Environment files
.env
.env-back
.env-front
.envrc

# citizenlab-ee files
back/engines/ee
citizenlab.config.ee.json


# Cruft
*.DS_Store

docker-compose.override.yml

# JetBrains settings files
.idea/

# VSCode settings files
.vscode/
.devcontainer/