MYSQL_DATABASE=matomo_database
MYSQL_PASSWORD=matomo_password
MYSQL_USER=matomo_user

MATOMO_DATABASE_ADAPTER=mysql
MATOMO_DATABASE_HOST=matomo_db
MATOMO_DATABASE_TABLES_PREFIX=matomo_
MATOMO_DATABASE_DBNAME=matomo_database
MATOMO_DATABASE_USERNAME=matomo_user
MATOMO_DATABASE_PASSWORD=matomo_password
