@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-light.woff2') format('woff2'),
        url('./larsseit-light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-lightitalic.woff2') format('woff2'),
        url('./larsseit-lightitalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-regular.woff2') format('woff2'),
        url('./larsseit-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-regularitalic.woff2') format('woff2'),
        url('./larsseit-regularitalic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-medium.woff2') format('woff2'),
        url('./larsseit-medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-mediumitalic.woff2') format('woff2'),
        url('./larsseit-mediumitalic.woff') format('woff');
  font-style: italic;
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-bold.woff2') format('woff2'),
        url('./larsseit-bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: 'larsseit';
  src:  url('./larsseit-bolditalic.woff2') format('woff2'),
        url('./larsseit-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
  font-display: auto;
}
