<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type='text/javascript' src='/javascripts/index.js'></script>
</head>

<body>
  <div class="main-container">
    <h1>
      <%= title %>
    </h1>
    <main>
      <button onclick="onSubmit()">Submit SSO</button>
    </main>
  </div>
</body>

</html>