---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.cloud/index.php?date=yesterday&filter_limit=3&filter_offset=2&filter_sort_order=asc&format=JSON&idSite=1&method=Live.getLastVisitsDetails&module=API&period=day
    body:
      encoding: UTF-8
      string: token_auth=auth-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Matomo-Request-Id:
      - 1a407
    body:
      encoding: UTF-8
      string: '[{"idSite":"1","idVisit":"8232846","visitIp":null,"visitorId":false,"fingerprint":false,"actionDetails":[{"type":"action","url":"https:\/\/divezone.net\/diving\/indonesia","pageTitle":"Best
        Diving sites in Indonesia \u2013 Scuba dive reviews by Divezone","pageIdAction":"96","idpageview":"bhCDVy","serverTimePretty":"Sep
        22, 2022 00:00:21","pageId":"22407865","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"1","title":"Best
        Diving sites in Indonesia \u2013 Scuba dive reviews by Divezone","subtitle":"https:\/\/divezone.net\/diving\/indonesia","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1663804821,"dimension2":"Julien","dimension4":"Indonesia","dimension5":"diving","customVariables":{"1":{"customVariablePageName1":"page-author","customVariablePageValue1":"Julien"},"2":{"customVariablePageName2":"post-age","customVariablePageValue2":"-455
        days"}}}],"goalConversions":0,"siteCurrency":"USD","siteCurrencySymbol":"$","serverDate":"2022-09-21","visitServerHour":"22","lastActionTimestamp":1663797621,"lastActionDateTime":"2022-09-21
        22:00:21","siteName":"Demo Site","serverTimestamp":1663797621,"firstActionTimestamp":1663797621,"serverTimePretty":"00:00:21","serverDatePretty":"Thursday,
        September 22, 2022","serverDatePrettyFirstAction":"Thursday, September 22,
        2022","serverTimePrettyFirstAction":"00:00:21","userId":null,"visitorType":"returningCustomer","visitorTypeIcon":"plugins\/Live\/images\/returningVisitor.png","visitConverted":"0","visitConvertedIcon":null,"visitCount":"114","visitEcommerceStatus":"none","visitEcommerceStatusIcon":null,"daysSinceFirstVisit":1554,"secondsSinceFirstVisit":"134267062","daysSinceLastEcommerceOrder":658,"secondsSinceLastEcommerceOrder":"56852662","visitDuration":"0","visitDurationPretty":"0s","searches":"0","actions":"1","interactions":"1","referrerType":"search","referrerTypeName":"Search
        Engines","referrerName":"Google","referrerKeyword":"Keyword not defined","referrerKeywordPosition":null,"referrerUrl":"http:\/\/www.google.com\/","referrerSearchEngineUrl":"http:\/\/google.com","referrerSearchEngineIcon":"plugins\/Morpheus\/icons\/dist\/searchEngines\/google.com.png","referrerSocialNetworkUrl":null,"referrerSocialNetworkIcon":null,"languageCode":"","language":"Unknown","deviceType":"Smartphone","deviceTypeIcon":"plugins\/Morpheus\/icons\/dist\/devices\/smartphone.png","deviceBrand":"Motorola","deviceModel":"Moto
        G5s Plus","operatingSystem":"Android 7.1","operatingSystemName":"Android","operatingSystemIcon":"plugins\/Morpheus\/icons\/dist\/os\/AND.png","operatingSystemCode":"AND","operatingSystemVersion":"7.1","browserFamily":"Blink","browserFamilyDescription":"Blink
        (Chrome, Opera)","browser":"Chrome Mobile 67.0","browserName":"Chrome Mobile","browserIcon":"plugins\/Morpheus\/icons\/dist\/browsers\/CM.png","browserCode":"CM","browserVersion":"67.0","totalEcommerceRevenue":0,"totalEcommerceConversions":0,"totalEcommerceItems":0,"totalAbandonedCartsRevenue":0,"totalAbandonedCarts":0,"totalAbandonedCartsItems":0,"events":"0","continent":"Asia","continentCode":"asi","country":"Indonesia","countryCode":"id","countryFlag":"plugins\/Morpheus\/icons\/dist\/flags\/id.png","region":"Riau","regionCode":"RI","city":"Batam","location":"Batam,
        Riau, Indonesia","latitude":"1.149000","longitude":"104.025000","visitLocalTime":"11:54:13","visitLocalHour":"11","daysSinceLastVisit":7,"secondsSinceLastVisit":"604800","resolution":"360x640","plugins":"cookie","pluginsIcons":[{"pluginIcon":"plugins\/Morpheus\/icons\/dist\/plugins\/cookie.png","pluginName":"cookie"}],"dimension1":"guest","experiments":[],"adClickId":"","adProviderId":"","adProviderName":"","customVariables":{"1":{"customVariableName1":"type","customVariableValue1":"diving"},"2":{"customVariableName2":"location","customVariableValue2":"Indonesia"},"5":{"customVariableName5":"diving-rating","customVariableValue5":"4.3"}},"formConversions":0,"sessionReplayUrl":null,"campaignId":"","campaignContent":"","campaignKeyword":"","campaignMedium":"","campaignName":"","campaignSource":"","campaignGroup":"","campaignPlacement":""},{"idSite":"1","idVisit":"8232847","visitIp":null,"visitorId":false,"fingerprint":false,"actionDetails":[{"type":"action","url":"https:\/\/divezone.net\/liveaboard\/red-sea-adventurer","pageTitle":"MY
        Red Sea Adventurer Liveaboard Review \u2013 Red Sea, Dive Boat Reviews","pageIdAction":"2484","idpageview":"ifhjA7","serverTimePretty":"Sep
        22, 2022 00:00:23","pageId":"22407866","timeSpent":2,"timeSpentPretty":"2s","pageviewPosition":"1","title":"MY
        Red Sea Adventurer Liveaboard Review \u2013 Red Sea, Dive Boat Reviews","subtitle":"https:\/\/divezone.net\/liveaboard\/red-sea-adventurer","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1663804823,"dimension2":"Myryame","dimension4":"Red
        Sea","dimension5":"liveaboard","customVariables":{"1":{"customVariablePageName1":"page-author","customVariablePageValue1":"Myryame"},"2":{"customVariablePageName2":"post-age","customVariablePageValue2":"-467
        days"}}},{"type":"event","url":"https:\/\/divezone.net\/liveaboard\/red-sea-adventurer","pageIdAction":"9998","idpageview":"ifhjA7","serverTimePretty":"Sep
        22, 2022 00:00:25","pageId":"22407868","eventCategory":"Add review","eventAction":"click","pageviewPosition":"1","timestamp":1663804825,"icon":"plugins\/Morpheus\/images\/event.png","iconSVG":"plugins\/Morpheus\/images\/event.svg","title":"Event","subtitle":"Category:
        \"Add review'', Action: \"click\"","eventName":"Check prices","dimension2":"Myryame","dimension4":"Red
        Sea","dimension5":"liveaboard","customVariables":{"1":{"customVariablePageName1":"page-author","customVariablePageValue1":"Myryame"},"2":{"customVariablePageName2":"post-age","customVariablePageValue2":"-467
        days"}}},{"type":"outlink","url":"https:\/\/www.liveaboard.com\/diving\/egypt\/red-sea-adventurer?cid=7000","pageTitle":null,"pageIdAction":"6850","idpageview":"ifhjA7","serverTimePretty":"Sep
        22, 2022 00:00:25","pageId":"22407869","pageviewPosition":"1","icon":"plugins\/Morpheus\/images\/link.png","iconSVG":"plugins\/Morpheus\/images\/link.svg","title":"Outlink","subtitle":"https:\/\/www.liveaboard.com\/diving\/egypt\/red-sea-adventurer?cid=7000","timestamp":1663804825,"dimension2":"Myryame","dimension4":"Red
        Sea","dimension5":"liveaboard","customVariables":{"1":{"customVariablePageName1":"page-author","customVariablePageValue1":"Myryame"},"2":{"customVariablePageName2":"post-age","customVariablePageValue2":"-467
        days"}}},{"type":"goal","goalName":"Liveaboard.com click","goalId":"7","idpageview":"ifhjA7","revenue":"1","goalPageId":"22407869","serverTimePretty":"Sep
        22, 2022 00:00:25","url":"https:\/\/www.liveaboard.com\/diving\/egypt\/red-sea-adventurer?cid=7000","icon":"plugins\/Morpheus\/images\/goal.png","iconSVG":"plugins\/Morpheus\/images\/goal.svg","title":"Goal
        conversion","subtitle":"Liveaboard.com click ($1 revenue)","timestamp":1663804825,"dimension2":null,"dimension4":null,"dimension5":null}],"goalConversions":1,"siteCurrency":"USD","siteCurrencySymbol":"$","serverDate":"2022-09-21","visitServer[...]
