---
http_interactions:
- request:
    method: post
    uri: https://demo.matomo.cloud/index.php?date=yesterday&filter_limit=3&filter_offset=2&filter_sort_order=asc&format=JSON&idSite=1&method=Live.getLastVisitsDetails&module=API&period=day
    body:
      encoding: UTF-8
      string: token_auth=anonymous
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Matomo-Request-Id:
      - 5ce42
    body:
      encoding: UTF-8
      string: '[{"idSite":"1","idVisit":"8272432","visitIp":null,"visitorId":false,"fingerprint":false,"actionDetails":[{"type":"action","url":"https:\/\/divezone.net\/diving\/thailand","pageTitle":"Best
        Diving sites in Thailand \u2013 Scuba dive reviews by Divezone","pageIdAction":"220","idpageview":"mt90is","serverTimePretty":"Oct
        4, 2022 00:00:26","pageId":"22476126","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"1","title":"Best
        Diving sites in Thailand \u2013 Scuba dive reviews by Divezone","subtitle":"https:\/\/divezone.net\/diving\/thailand","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1664841626,"dimension2":"Julien","dimension4":"Thailand","dimension5":"diving","customVariables":{"1":{"customVariablePageName1":"page-author","customVariablePageValue1":"Julien"},"2":{"customVariablePageName2":"post-age","customVariablePageValue2":"-460
        days"}}}],"goalConversions":0,"siteCurrency":"USD","siteCurrencySymbol":"$","serverDate":"2022-10-03","visitServerHour":"22","lastActionTimestamp":1664834426,"lastActionDateTime":"2022-10-03
        22:00:26","siteName":"Demo Site","serverTimestamp":1664834426,"firstActionTimestamp":1664834426,"serverTimePretty":"00:00:26","serverDatePretty":"Tuesday,
        October 4, 2022","serverDatePrettyFirstAction":"Tuesday, October 4, 2022","serverTimePrettyFirstAction":"00:00:26","userId":null,"visitorType":"returningCustomer","visitorTypeIcon":"plugins\/Live\/images\/returningVisitor.png","visitConverted":"0","visitConvertedIcon":null,"visitCount":"93","visitEcommerceStatus":"none","visitEcommerceStatusIcon":null,"daysSinceFirstVisit":1568,"secondsSinceFirstVisit":"135475200","daysSinceLastEcommerceOrder":672,"secondsSinceLastEcommerceOrder":"58060800","visitDuration":"0","visitDurationPretty":"0s","searches":"0","actions":"1","interactions":"1","referrerType":"search","referrerTypeName":"Search
        Engines","referrerName":"Google","referrerKeyword":"Keyword not defined","referrerKeywordPosition":null,"referrerUrl":"https:\/\/www.google.com\/","referrerSearchEngineUrl":"http:\/\/google.com","referrerSearchEngineIcon":"plugins\/Morpheus\/icons\/dist\/searchEngines\/google.com.png","referrerSocialNetworkUrl":null,"referrerSocialNetworkIcon":null,"languageCode":"","language":"Unknown","deviceType":"Desktop","deviceTypeIcon":"plugins\/Morpheus\/icons\/dist\/devices\/desktop.png","deviceBrand":"Apple","deviceModel":"Generic
        Desktop","operatingSystem":"Mac 10.13","operatingSystemName":"Mac","operatingSystemIcon":"plugins\/Morpheus\/icons\/dist\/os\/MAC.png","operatingSystemCode":"MAC","operatingSystemVersion":"10.13","browserFamily":"WebKit","browserFamilyDescription":"WebKit
        (Safari)","browser":"Safari 11.1","browserName":"Safari","browserIcon":"plugins\/Morpheus\/icons\/dist\/browsers\/SF.png","browserCode":"SF","browserVersion":"11.1","totalEcommerceRevenue":0,"totalEcommerceConversions":0,"totalEcommerceItems":0,"totalAbandonedCartsRevenue":0,"totalAbandonedCarts":0,"totalAbandonedCartsItems":0,"events":"0","continent":"Europe","continentCode":"eur","country":"United
        Kingdom","countryCode":"gb","countryFlag":"plugins\/Morpheus\/icons\/dist\/flags\/gb.png","region":"West
        Sussex","regionCode":"WSX","city":"Bognor Regis","location":"Bognor Regis,
        West Sussex, United Kingdom","latitude":"50.775000","longitude":"-0.711000","visitLocalTime":"04:54:18","visitLocalHour":"4","daysSinceLastVisit":14,"secondsSinceLastVisit":"1209600","resolution":"1280x800","plugins":"cookie,
        java, pdf","pluginsIcons":[{"pluginIcon":"plugins\/Morpheus\/icons\/dist\/plugins\/cookie.png","pluginName":"cookie"},{"pluginIcon":"plugins\/Morpheus\/icons\/dist\/plugins\/java.png","pluginName":"java"},{"pluginIcon":"plugins\/Morpheus\/icons\/dist\/plugins\/pdf.png","pluginName":"pdf"}],"dimension1":"guest","experiments":[{"idexperiment":"9","name":"AffiliateLinkEffectiveness","variation":{"idvariation":"21","name":"WithoutLastAd"}},{"idexperiment":"10","name":"IDivedThereLinkMove","variation":{"idvariation":0,"name":"Original"}},{"idexperiment":"13","name":"DivingPageTitles","variation":{"idvariation":"28","name":"Remarkable"}}],"adClickId":"","adProviderId":"","adProviderName":"","customVariables":{"1":{"customVariableName1":"type","customVariableValue1":"diving"},"2":{"customVariableName2":"location","customVariableValue2":"Thailand"},"5":{"customVariableName5":"diving-rating","customVariableValue5":"3.9"}},"formConversions":0,"sessionReplayUrl":null,"campaignId":"","campaignContent":"","campaignKeyword":"","campaignMedium":"","campaignName":"","campaignSource":"","campaignGroup":"","campaignPlacement":""},{"idSite":"1","idVisit":"8272435","visitIp":null,"visitorId":false,"fingerprint":false,"actionDetails":[{"type":"action","url":"https:\/\/divezone.net\/diving\/bali","pageTitle":"Best
        Diving sites in Bali \u2013 Indonesia Scuba dive reviews by Divezone","pageIdAction":"8","idpageview":"a5uJ8V","serverTimePretty":"Oct
        4, 2022 00:00:32","pageId":"22476130","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"1","title":"Best
        Diving sites in Bali \u2013 Indonesia Scu[...]
