---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.cloud/index.php?date=yesterday&filter_limit=3&filter_offset=2&format=JSON&idSite=1&method=Live.getLastVisitsDetails&module=API&period=day
    body:
      encoding: UTF-8
      string: token_auth=auth-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Matomo-Request-Id:
      - 5a0d7
    body:
      encoding: UTF-8
      string: '[{"idSite":"1","idVisit":"8223688","visitIp":null,"visitorId":false,"fingerprint":false,"actionDetails":[{"type":"action","url":"https:\/\/dive-shop.net\/","pageTitle":"Divezone
        Store","pageIdAction":"20","idpageview":"TWEf75","serverTimePretty":"Sep 18,
        2022 23:06:04","pageId":"22392921","timeSpent":297,"timeSpentPretty":"4 min
        57s","pageviewPosition":"1","title":"Divezone Store","subtitle":"https:\/\/dive-shop.net\/","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1663542364,"dimension2":null,"dimension4":null,"dimension5":null},{"type":"form","icon":"plugins\/FormAnalytics\/images\/form.png","idpageview":"TWEf75","title":"interacted
        with form Checkout Form","formName":"Checkout Form","formId":"42","formStatus":"running","converted":"0","submitted":0,"serverTimePretty":"Sep
        18, 2022 23:26:00","timeToFirstSubmission":"0","timeSpent":"24614","timeHesitation":"0","leftBlank":3,"fields":[{"fieldName":"account_password","timeSpent":"10913","timeHesitation":"7783","leftBlank":"0","submitted":"0"},{"fieldName":"billing_company","timeSpent":"6757","timeHesitation":"6757","leftBlank":"1","submitted":"0"},{"fieldName":"payment_method","timeSpent":"5308","timeHesitation":"5308","leftBlank":"1","submitted":"0"},{"fieldName":"terms","timeSpent":"2658","timeHesitation":"2658","leftBlank":"1","submitted":"0"},{"fieldName":"vat_number","timeSpent":"1935","timeHesitation":"1935","leftBlank":"0","submitted":"0"}],"server_time":"2022-09-18
        21:06:04","timestamp":1663543560,"dimension2":null,"dimension4":null,"dimension5":null},{"type":"ecommerceOrder","orderId":"2022-09-18-139_4605","revenue":89,"revenueSubTotal":149,"revenueTax":0,"revenueShipping":0,"revenueDiscount":0,"items":"1","serverTimePretty":"Sep
        18, 2022 23:51:03","idpageview":null,"itemDetails":[{"itemSKU":"3222","itemName":"Diving
        Tank","itemCategory":"Accessories","price":89,"quantity":"1","categories":["Accessories"]}],"icon":"plugins\/Morpheus\/images\/ecommerceOrder.png","iconSVG":"plugins\/Morpheus\/images\/ecommerceOrder.svg","title":"Ordered
        (2022-09-18-139_4605)","subtitle":"$89 revenue - 1 items: Diving Tank)","timestamp":1663545063,"dimension2":null,"dimension4":null,"dimension5":null},{"type":"action","url":"https:\/\/dive-shop.net\/","pageTitle":"Divezone
        Store","pageIdAction":"20","idpageview":"LkJita","serverTimePretty":"Sep 18,
        2022 23:56:00","pageId":"22393038","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"2","title":"Divezone
        Store","subtitle":"https:\/\/dive-shop.net\/","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1663545360,"dimension2":null,"dimension4":null,"dimension5":null}],"goalConversions":0,"siteCurrency":"USD","siteCurrencySymbol":"$","serverDate":"2022-09-18","visitServerHour":"21","lastActionTimestamp":1663538160,"lastActionDateTime":"2022-09-18
        21:56:00","siteName":"Demo Site","serverTimestamp":1663538160,"firstActionTimestamp":1663535164,"serverTimePretty":"23:56:00","serverDatePretty":"Sunday,
        September 18, 2022","serverDatePrettyFirstAction":"Sunday, September 18, 2022","serverTimePrettyFirstAction":"23:06:04","userId":null,"visitorType":"returningCustomer","visitorTypeIcon":"plugins\/Live\/images\/returningVisitor.png","visitConverted":"1","visitConvertedIcon":"plugins\/Morpheus\/images\/goal.svg","visitCount":"126","visitEcommerceStatus":"ordered","visitEcommerceStatusIcon":"plugins\/Morpheus\/images\/ecommerceOrder.svg","daysSinceFirstVisit":1897,"secondsSinceFirstVisit":"163900800","daysSinceLastEcommerceOrder":0,"secondsSinceLastEcommerceOrder":"0","visitDuration":"2997","visitDurationPretty":"49
        min 57s","searches":"0","actions":"2","interactions":"2","referrerType":"website","referrerTypeName":"Websites","referrerName":"diveadvisor.com","referrerKeyword":"","referrerKeywordPosition":null,"referrerUrl":"http:\/\/diveadvisor.com\/spain","referrerSearchEngineUrl":null,"referrerSearchEngineIcon":null,"referrerSocialNetworkUrl":null,"referrerSocialNetworkIcon":null,"languageCode":"","language":"Unknown","deviceType":"Desktop","deviceTypeIcon":"plugins\/Morpheus\/icons\/dist\/devices\/desktop.png","deviceBrand":"Unknown","deviceModel":"Generic
        Desktop","operatingSystem":"Windows 10","operatingSystemName":"Windows","operatingSystemIcon":"plugins\/Morpheus\/icons\/dist\/os\/WIN.png","operatingSystemCode":"WIN","operatingSystemVersion":"10","browserFamily":"Blink","browserFamilyDescription":"Blink
        (Chrome, Opera)","browser":"Chrome 59.0","browserName":"Chrome","browserIcon":"plugins\/Morpheus\/icons\/dist\/browsers\/CH.png","browserCode":"CH","browserVersion":"59.0","totalEcommerceRevenue":0,"totalEcommerceConversions":0,"totalEcommerceItems":0,"totalAbandonedCartsRevenue":0,"totalAbandonedCarts":0,"totalAbandonedCartsItems":0,"events":"0","continent":"Europe","continentCode":"eur","country":"Germany","countryCode":"de","countryFlag":"plugins\/Morpheus\/icons\/dist\/flags\/de.png","region":null,"regionCode":null,"city":null,"location":"Germany","latitude":"51.299000","longitude":"9.491000","visitLocalTime":"19:06:01","visitLocalHour":"19","daysSinceLastVisit":6,"secondsSinceLastVisit":"600957","resolution":"1366x768","plugins":"cookie,
        pdf","pluginsIcons":[{"pluginIcon":"plugins\/Morpheus\/icons\/dist\/plugins\/cookie.png","pluginName":"cookie"},{"pluginIcon":"plugins\/Morpheus\/icons\/dist\/plugins\/pdf.png","pluginName":"pdf"}],"dimension1":null,"experiments":[],"adClickId":"","adProviderId":"","adProviderName":"","customVariables":[],"formConversions":0,"sessionReplayUrl":null,"campaignId":"","campaignContent":"","campaignKeyword":"","campaignMedium":"","campaignName":"","campaignSource":"","campaignGroup":"","campaignPlacement":""},{"idSite":"1","idVisit":"8223746","visitIp":null,"visitorId":false,"fingerprint":false,"actionDetails":[{"type":"form","icon":"plugins\/FormAnalytics\/images\/form.png","idpageview":"VJqKNo","title":"interacted
        with form Checkout Form","formName":"Checkout Form","formId":"42","formStatus":"running","converted":"0","submitted":0,"serverTimePretty":"Sep
        18, 2022 23:55:22","timeToFirstSubmission":"0","timeSpent":"8305","timeHesitation":"0","leftBlank":2,"fields":[{"fieldName":"payment_method","timeSpent":"9597","timeHesitation":"9597","leftBlank":"1","submitted":"0"},{"fieldName":"terms","timeSpent":"82","timeHesitation":"82","leftBlank":"1","submitted":"0"},{"fieldName":"vat_number","timeSpent":"3816","timeHesitation":"3740","leftBlank":"0","submitted":"0"}],"timestamp":1663545322,"dimension2":null,"dimension4":null,"dimension5":null},{"type":"event","url":"https:\/\/dive-shop.net\/products\/diving-knife\/","pageIdAction":"118","idpageview":"","serverTimePretty":"Sep
        18, 2022 23:55:40","pageId":"22393031","eventCategory":"Ecommerce","eventAction":"Cart
        change","pageviewPosition":null,"timestamp":1663545340,"icon":"plugins\/Morpheus\/images\/event.png","iconSVG":"plugins\/Morpheus\/images\/event.svg","title":"Event","subtitle":"Category:
        \"Ecommerce'', Action: \"Cart change\"","eventName":"added - Diving Knife","eventValue":1,"dimension2":null,"dimension4":null,"dimension5":null},{"type":"action","url":"https:\/\/dive-shop.net\/cart\/","pageTitle":"Cart
        - Divezone Store","pageIdAction":"39","idpageview":"ve79Ou","serverTimePretty":"Sep
        18, 2022 23:55:49","pageId":"22393035","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"1","title":"Cart
        - Divezone Store","subtitle":"https:\/\/dive-shop.net\/cart\/","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1663545349,"[...]
