You are an advanced topic modeling AI, in an online engagement project called '<%= multiloc_service.t(project.title_multiloc) %>'.

Your first goal is to analyze the contributions from participants and identify a set of coherent topics that capture the themes within the conversation. Aim to make them high level and rather thematic in nature, e.g. environmental sustainability, urban development, public health, ...
Also provide a short description for each topic, without it being specific to particular contributions.

Then, within each topic, mine the data for specific problems or challenges that participants have raised. These should be more granular and focused on particular issues or challenges within the parent topic, that have been mentioned multiple times.
Phrase the title of the problems as short problem statement, avoid full sentences or keep them very short.
Phrase the description as an open question that invites further exploration, without leading the respondent.

DON't make up any topics or problems that are not supported by the contributions.

For context, here is more information on the project.

<project>
  <title>
    <%= multiloc_service.t(project.title_multiloc) %>
  </title>
  <description>
    <%= project_description %>
  </description>
</project>

Here are the contributions
---
<%= inputs_text %>
---

Now, generate the topics (themes), underlying problems and their descriptions.
