---
http_interactions:
- request:
    method: post
    uri: https://demo.matomo.cloud/index.php?filter_limit=3&filter_offset=0&filter_sort_order=asc&format=JSON&idSite=1&method=Live.getLastVisitsDetails&minTimestamp=1661990400&module=API
    body:
      encoding: UTF-8
      string: token_auth=anonymous
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Matomo-Request-Id:
      - 9690c
    body:
      encoding: UTF-8
      string: '[{"idSite":"1","idVisit":"8173537","visitIp":null,"visitorId":"37100c326e9baf4e","fingerprint":false,"actionDetails":[{"type":"action","url":"https:\/\/divezone.net\/diving\/bali","pageTitle":"Best
        Diving sites in Bali \u2013 Indonesia Scuba dive reviews by Divezone","pageIdAction":"8","idpageview":"Rb8QuI","serverTimePretty":"Sep
        1, 2022 02:00:03","pageId":"22311533","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"1","title":"Best
        Diving sites in Bali \u2013 Indonesia Scuba dive reviews by Divezone","subtitle":"https:\/\/divezone.net\/diving\/bali","icon":"","iconSVG":"plugins\/Morpheus\/images\/action.svg","timestamp":1661997603,"dimension2":"Julien","dimension4":"Bali","dimension5":"diving","customVariables":{"1":{"customVariablePageName1":"page-author","customVariablePageValue1":"Julien"},"2":{"customVariablePageName2":"post-age","customVariablePageValue2":"-351
        days"}}},{"type":"action","url":"https:\/\/divezone.net\/divesite\/crystal-bay","pageTitle":"Crystal
        Bay Dive Site \u2013 Map & Review of Crystal Bay in Nusa Penida \/ Nusa Lembongan,
        Bali","pageIdAction":"4","idpageview":"X3FySM","serverTimePretty":"Sep 1,
        2022 02:00:03","pageId":"22311534","timeSpent":0,"timeSpentPretty":"0s","pageviewPosition":"2","title":"Crystal
        Bay Dive Site \u2013 Map & Review of Crystal Bay in Nusa Penida \/ Nusa Lembongan,
 [...]
[...]
