engine-strict=true

# Disabled for security reasons.
# Pre and post install scripts are often exploited
# in supply chain attacks, and can steal credentials
# or run arbitrary code on a developer's machine.
ignore-scripts=true
