CYPRESS_NUM_TESTS_KEPT_IN_MEMORY=3
CYPRESS_RETRIES=0

# Azure AD vars are used only by some specific tests.
# Find these vars in CircleCI Environment Variables
# https://app.circleci.com/settings/project/github/CitizenLabDotCo/citizenlab/environment-variables?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2FCitizenLabDotCo%2Fcitizenlab
DEFAULT_AZURE_AD_B2C_LOGIN_E2E_EMAIL=
DEFAULT_AZURE_AD_B2C_LOGIN_E2E_PASSWORD=
# Find this var in env_files/back-secret.env
DEFAULT_AZURE_AD_B2C_LOGIN_TENANT_NAME=
